html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    background: rgb(36, 36, 38);
    height: 100%;
}

#map {
    position: absolute;
    height: 100%;
    width: 50%;
    background-color: #333;
}

.ticks {
  font: 10px sans-serif;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #ddd;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  cursor: crosshair;
}

.handle {
  fill: grey;
  stroke: grey;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}

.axis path,
.axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

text {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  fill: rgba(255, 255, 255, 0.8);
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}